.slider-social-links {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  bottom: 16%;
  right: 2%;
}

.carousel-container {
  border: 1px red dotted;
}

.carousel-container img {
  height: 600px;
  object-fit: cover;
}

.carousel-msg {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-size: 1.4rem;
  color: whitesmoke;
  margin: 30px;
  z-index: 1;
  padding: 10px;
  text-align: initial;
  width: 50%;
}