.parent-container {
  width: 100%;
  background-color: #2a2d36;
  color: aliceblue;
  padding-top: 60px;
}

.social-container{

    display: flex;
    flex-direction: row;
    justify-content: center;}

.social-section{
margin: 0px 50px;
}

.fb-section{
  width: 600px;
  margin: 0px 50px 20px 6px;

}

.fb-feed-txt{
writing-mode: vertical-lr;
text-orientation: upright;
margin-left: 50px;
}

.social-links{
  width: 100%;
}

.list-items {
  margin: 2px 0 10px;
  padding: 8px 0px;
  list-style: none;
}
.list-items li {
  padding: 4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--primaryDarkGreyFont);
}

.ic {
  height: 22px;
  width: 22px;
  margin-right: 10px;
  color: var(--primary);
}

.footer-headings {
  padding-bottom: 12px;
}

.border {
  border: 1px solid red;
}


.social-block-section {
  display: flex;
}

.social-block {
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  margin: 10px 0px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-ic {
  height: 30px;
  width: 30px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.footer-feet{
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: #21242b;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 999px) {
.social-container{
  flex-direction: column;
}

.m-top{
margin: 30px 0px;
}
}

@media screen and (max-width: 500px) {

.fb-feed-txt{
margin-left: 10px;
 }

.fb-section{
  margin: 0px 20px 10px 4px;

 }
}
